body{
    color:#AC9377;
	font-family: 'ZCOOL KuaiLe', cursive;
	background-image: url('http://pngimg.com/uploads/paper_sheet/paper_sheet_PNG7239.png');
}
.menu *{
    margin: 0;
	padding: 0;
}
.menu ol{
	list-style: none;
}
.menu ul{
	list-style: none;
}
.menu > ul{
	display: flex;
	justify-content: center;
}
.menu > ul li a{
	border:1px solid #F5D6B3;
	border-radius: 7px;
	display: block;
    background: #eeeeee;
    background: -moz-linear-gradient(top, #FFE3C4 0%, #F0CBA2 100%);
    background: -webkit-linear-gradient(top, #FFE3C4 0%,#F0CBA2 100%);
    background: linear-gradient(to bottom, #FFE3C4 0%,#F0CBA2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE3C4', endColorstr='#F0CBA2',GradientType=0 );
	padding: 15px 30px 15px 40px;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
    transition: all 0.5s ease;
}

.menu > ul li{
	position: relative;
	border:1px solid #D3BA9E;
	border-radius: 7px;
	
}
.menu li a:hover{
	background: #C4AD93;
		color: #988269;
		box-shadow: 1px 5px 10px -5px rgb(185, 143, 3);
		transition: all 0.5s ease;
	}
.menu li ul{
	position: absolute;
	min-width: 150px;
	display: none;
}

.menu li > ul li{
	border: 1px solid #B59D81;/*DELETE*/
}
.menu li > ul li a{
	padding: 10px;
	text-transform: none;
	background: #F5D6B3;
}
/*#F0CBA2*/
.menu li > ul li ul{
	position: absolute;/*delete*/
	right: -150px;
	top: 0;
}

.menu li:hover > ul{
	display: block;
}
.menu a{
	color: #b49b7d;
}
.menu a:hover{
	color: rgb(134, 114, 90);
}
