@import url('https://fonts.googleapis.com/css?family=Cuprum');
body{
	background-image: url('http://pngimg.com/uploads/paper_sheet/paper_sheet_PNG7239.png');
}
header{
	margin-top: 200px;
	font-family: Cuprum, Arial, Helvertjcal, sans-serif;
}
.dws-menu *{
	margin: 0;
	padding: 0;
}


.dws-menu ul{
	list-style: none;
}
.dws-menu ol{
	list-style: none;
}
.dws-menu > ul{
	display: flex;
	justify-content: center;
}



.dws-menu > ul li a{
	display: block;
background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	padding: 15px 30px 15px 40px;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.5s ease;
}
.dws-menu > ul li{
	position: relative;
	border-right: 1px solid #c7c8ca; 
}



.dws-menu > ul li > a i.fa{
	position: absolute;
	top: 15px;
	left: 12px;
	font-size: 18px;
}



.dws-menu > ul li:first-child{
	border-left: 1px solid #b2b3b5;
}
.dws-menu > ul li:last-child{
	border-left: 1px solid #b2b3b5;
}



/*-------------*/

.dws-menu li ul{
	position: absolute;
	min-width: 150px;
	display: none;
}
.dws-menu li > ul li{
	border: 1px solid #c7c8ca;
}
.dws-menu li > ul li a{
	padding: 10px;
	text-transform: none;
	background: #e4e4e5;
}
.dws-menu li > ul li ul{
	position: absolute;
	right: -150px;
	top: 0;
}
.dws-menu li:hover > ul{
	display: block;
}
.dws-menu i{
	text-decoration: none;
	list-style: none;
	color: black;
}
.dws-menu a{
	color: #696969;
}

